<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | MovieQuotes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="home.css">
    <!-- You are Awesome!! I am glad that you are here-->
</head>
<body>

    <section class="firstblock">
        <div class="container">
            <h1>MovieQuotesAPI</h1>
            <h5>Get random quotes from the movies I've watched!</h5>
        </div>
    </section>

    <section class="secondblock">
        <div class="container">
            <h4>Explore the API</h4>
            <div class="card mt-1">
                <div class="card-body">
                    <strong>GET</strong> <span class="endpoint">/api</span>  <span class="description">Get a JSON quote object</span>
                </div>
            </div>
            <div class="card mt-1">
                <div class="card-body">
                    <strong>POST</strong> <span class="endpoint">/api</span> <span class="description">Accepts <em>url-encoded </em> form input</span>
                </div>
            </div>
            <br>
            <p>Make a GET request <a href="https://moviequotes.zrqx.in/api" target="_blank" rel="noopener noreferrer">in new tab</a>. If you see 'Welcome to nginx' or something, that means I've messed something up during config</p>
        </div>
    </section>

    <section class="thirdblock">
        <div class="container">
            <h4>Between us</h4>
            <p>
                MovieQuotesAPI is a basic yeah-pee-eye. The term API is kind of overkill in this case. It fetches a random quote when a GET request is made to it.
                It also accepts POST requests. I've mentioned it already in the Explore section above. What else is there ?
            </p>
            <p>
                As of now, it returns only the quotes from <strong>The Godfather</strong> since it turns 50 on 24 March 2022!!
            </p>
            <p>
                I can't think of anything else to write here. I'll come back and update this sometime soon.
            </p>
            <p>
                Here is the link to the Github Repo <a href="https://github.com/zrqx/moviequotes">Click</a>
            </p>
        </div>
    </section>

    <section class="finalblock">
        <div class="container">
            <h4>End of the page</h4>
            <p>You've reached the end of the Page</p>
            <p>Created with HTML & CSS, with Bootstrap and Google Fonts plugged in.</p>
            <p>Hosted on EC2, tested on localhost. In remembrance of all the other thing's I've forgot to mention</p>
        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
</body>
</html>